.userSuccMSG {
	background: url(../img/userSuccMSGOverbg.png) repeat;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	position: fixed;
	left: 40%;
	top: 45%;
	width: auto;
	min-width: 418px;
	/*min-height: 84px;*/
	line-height: 38px;
	color: #FFF;
	text-align: center;
	font-size: 22px;
	z-index: 1000;
	display: none;
	padding: 20px 40px;
}